<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zyl.water.mapper.ImgMapper" >
  <resultMap id="BaseResultMap" type="com.zyl.water.domain.Img" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR"/>
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="BIGINT" />
    <result column="createTime" property="createtime" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, path, url, status, createTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from img
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from img
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <!-- 七牛删除图片 -->
  <delete id="deleteByName" parameterType="Img" >
    delete from img
    where name = #{key}
  </delete>
  <!-- 插入图片 -->
  <!-- 这个keyProperty的id就是我们要返回的主键id -->
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="Img" >
    insert into img (
    id,
    name,
    path,
    status,
    createTime)
    values (
    #{id},
    #{name},
    #{path},
    #{status},
    #{createtime})
  </insert>
  <!-- 更新图片 -->
  <update id="update" parameterType="Img">
    update img set
         name = #{name},
         path = #{path},
         status = #{status},
         createTime = #{createtime}
         where name = #{key}
  </update>

  <insert id="insertSelective" parameterType="com.zyl.water.domain.Img" >
    insert into img
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="path != null" >
        path,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="path != null" >
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIGINT},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zyl.water.domain.Img" >
    update img
    <set >
      <if test="name != null">
        path = #{name,jdbcType=VARCHAR},
      </if>
      <if test="path != null" >
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIGINT},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zyl.water.domain.Img" >
    update img
    set
      name = #{name,jdbcType=VARCHAR},
      path = #{path,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      status = #{status,jdbcType=BIGINT},
      createTime = #{createtime,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>